In [1]:
import pandas as pd
import numpy as np

In [2]:
fizer = pd.read_csv('fizer_1.csv')
fizer

,Date,Drug_Name,Parameter,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00,10:30:00,11:30:00,12:30:00
0,15-10-2020,diltiazem hydrochloride,Temperature,23.0,22.0,NaN,21.0,21.0,22,23.0,21.0,22.0,20,20.0,21
1,15-10-2020,diltiazem hydrochloride,Pressure,12.0,13.0,NaN,11.0,13.0,14,16.0,16.0,24.0,18,19.0,20
2,15-10-2020,docetaxel injection,Temperature,NaN,17.0,18.0,NaN,17.0,18,NaN,NaN,23.0,23,25.0,25
3,15-10-2020,docetaxel injection,Pressure,NaN,22.0,22.0,NaN,22.0,23,NaN,NaN,27.0,26,29.0,28
4,15-10-2020,ketamine hydrochloride,Temperature,24.0,NaN,NaN,27.0,NaN,26,25.0,24.0,23.0,22,21.0,20
5,15-10-2020,ketamine hydrochloride,Pressure,8.0,NaN,NaN,7.0,NaN,9,10.0,11.0,10.0,9,9.0,11
6,16-10-2020,diltiazem hydrochloride,Temperature,34.0,35.0,36.0,36.0,37.0,38,37.0,38.0,39.0,40,NaN,42
7,16-10-2020,diltiazem hydrochloride,Pressure,18.0,19.0,20.0,21.0,22.0,23,24.0,25.0,25.0,24,NaN,27
8,16-10-2020,docetaxel injection,Temperature,46.0,47.0,NaN,48.0,48.0,49,50.0,52.0,55.0,56,57.0,58
9,16-10-2020,docetaxel injection,Pressure,23.0,24.0,NaN,25.0,26.0,27,28.0,29.0,28.0,28,29.0,30
10,16-10-2020,ketamine hydrochloride,Temperature,8.0,9.0,10.0,NaN,11.0,12,12.0,11.0,NaN,13,14.0,15
11,16-10-2020,ketamine hydrochloride,Pressure,12.0,12.0,13.0,NaN,15.0,15,15.0,15.0,NaN,16,17.0,18
12,17-10-2020,diltiazem hydrochloride,Temperature,20.0,19.0,19.0,18.0,17.0,16,15.0,NaN,13.0,14,11.0,10
13,17-10-2020,diltiazem hydrochloride,Pressure,3.0,4.0,4.0,4.0,6.0,8,9.0,NaN,9.0,11,13.0,14
14,17-10-2020,docetaxel injection,Temperature,12.0,13.0,14.0,15.0,16.0,17,18.0,19.0,20.0,21,22.0,23
15,17-10-2020,docetaxel injection,Pressure,20.0,22.0,22.0,22.0,22.0,23,25.0,26.0,27.0,28,29.0,28
16,17-10-2020,ketamine hydrochloride,Temperature,13.0,14.0,15.0,16.0,17.0,18,19.0,20.0,21.0,22,23.0,24
17,17-10-2020,ketamine hydrochloride,Pressure,8.0,9.0,10.0,11.0,11.0,12,12.0,11.0,12.0,13,14.0,15

In [3]:
data_melt = pd.melt(fizer,id_vars=['Date','Drug_Name','Parameter'],var_name='time',value_name='reading')

In [4]:
data_melt

           Date                Drug_Name    Parameter      time  reading
0    15-10-2020  diltiazem hydrochloride  Temperature   1:30:00     23.0
1    15-10-2020  diltiazem hydrochloride     Pressure   1:30:00     12.0
2    15-10-2020      docetaxel injection  Temperature   1:30:00      NaN
3    15-10-2020      docetaxel injection     Pressure   1:30:00      NaN
4    15-10-2020   ketamine hydrochloride  Temperature   1:30:00     24.0
..          ...                      ...          ...       ...      ...
211  17-10-2020  diltiazem hydrochloride     Pressure  12:30:00     14.0
212  17-10-2020      docetaxel injection  Temperature  12:30:00     23.0
213  17-10-2020      docetaxel injection     Pressure  12:30:00     28.0
214  17-10-2020   ketamine hydrochloride  Temperature  12:30:00     24.0
215  17-10-2020   ketamine hydrochloride     Pressure  12:30:00     15.0

[216 rows x 5 columns]

In [5]:
data_tidy = data_melt.pivot(index=['Date','Drug_Name','Parameter'],columns='time',values='reading')

In [6]:
data_tidy

time                                            10:30:00  11:30:00  12:30:00  \
Date       Drug_Name               Parameter
15-10-2020 diltiazem hydrochloride Pressure         18.0      19.0      20.0
                                   Temperature      20.0      20.0      21.0
           docetaxel injection     Pressure         26.0      29.0      28.0
                                   Temperature      23.0      25.0      25.0
           ketamine hydrochloride  Pressure          9.0       9.0      11.0
                                   Temperature      22.0      21.0      20.0
16-10-2020 diltiazem hydrochloride Pressure         24.0       NaN      27.0
                                   Temperature      40.0       NaN      42.0
           docetaxel injection     Pressure         28.0      29.0      30.0
                                   Temperature      56.0      57.0      58.0
           ketamine hydrochloride  Pressure         16.0      17.0      18.0
                                   Temperature      13.0      14.0      15.0
17-10-2020 diltiazem hydrochloride Pressure         11.0      13.0      14.0
                                   Temperature      14.0      11.0      10.0
           docetaxel injection     Pressure         28.0      29.0      28.0
                                   Temperature      21.0      22.0      23.0
           ketamine hydrochloride  Pressure         13.0      14.0      15.0
                                   Temperature      22.0      23.0      24.0

time                                            1:30:00  2:30:00  3:30:00  \
Date       Drug_Name               Parameter
15-10-2020 diltiazem hydrochloride Pressure        12.0     13.0      NaN
                                   Temperature     23.0     22.0      NaN
           docetaxel injection     Pressure         NaN     22.0     22.0
                                   Temperature      NaN     17.0     18.0
           ketamine hydrochloride  Pressure         8.0      NaN      NaN
                                   Temperature     24.0      NaN      NaN
16-10-2020 diltiazem hydrochloride Pressure        18.0     19.0     20.0
                                   Temperature     34.0     35.0     36.0
           docetaxel injection     Pressure        23.0     24.0      NaN
                                   Temperature     46.0     47.0      NaN
           ketamine hydrochloride  Pressure        12.0     12.0     13.0
                                   Temperature      8.0      9.0     10.0
17-10-2020 diltiazem hydrochloride Pressure         3.0      4.0      4.0
                                   Temperature     20.0     19.0     19.0
           docetaxel injection     Pressure        20.0     22.0     22.0
                                   Temperature     12.0     13.0     14.0
           ketamine hydrochloride  Pressure         8.0      9.0     10.0
                                   Temperature     13.0     14.0     15.0

time                                            4:30:00  5:30:00  6:30:00  \
Date       Drug_Name               Parameter
15-10-2020 diltiazem hydrochloride Pressure        11.0     13.0     14.0
                                   Temperature     21.0     21.0     22.0
           docetaxel injection     Pressure         NaN     22.0     23.0
                                   Temperature      NaN     17.0     18.0
           ketamine hydrochloride  Pressure         7.0      NaN      9.0
                                   Temperature     27.0      NaN     26.0
16-10-2020 diltiazem hydrochloride Pressure        21.0     22.0     23.0
                                   Temperature     36.0     37.0     38.0
           docetaxel injection     Pressure        25.0     26.0     27.0
                                   Temperature     48.0     48.0     49.0
           ketamine hydrochloride  Pressure         NaN     15.0     15.0
                                   Temperature      NaN     11.0     12.0
17-10-2020 diltiazem hydrochloride Pressure         4.0      6.0      8.0
                                   Temperature     18.0     17.0     16.0
           docetaxel injection     Pressure        22.0     22.0     23.0
                                   Temperature     15.0     16.0     17.0
           ketamine hydrochloride  Pressure        11.0     11.0     12.0
                                   Temperature     16.0     17.0     18.0

time                                            7:30:00  8:30:00  9:30:00
Date       Drug_Name               Parameter
15-10-2020 diltiazem hydrochloride Pressure        16.0     16.0     24.0
                                   Temperature     23.0     21.0     22.0
           docetaxel injection     Pressure         NaN      NaN     27.0
                                   Temperature      NaN      NaN     23.0
           ketamine hydrochloride  Pressure        10.0     11.0     10.0
                                   Temperature     25.0     24.0     23.0
16-10-2020 diltiazem hydrochloride Pressure        24.0     25.0     25.0
                                   Temperature     37.0     38.0     39.0
           docetaxel injection     Pressure        28.0     29.0     28.0
                                   Temperature     50.0     52.0     55.0
           ketamine hydrochloride  Pressure        15.0     15.0      NaN
                                   Temperature     12.0     11.0      NaN
17-10-2020 diltiazem hydrochloride Pressure         9.0      NaN      9.0
                                   Temperature     15.0      NaN     13.0
           docetaxel injection     Pressure        25.0     26.0     27.0
                                   Temperature     18.0     19.0     20.0
           ketamine hydrochloride  Pressure        12.0     11.0     12.0
                                   Temperature     19.0     20.0     21.0

In [7]:
data_tidy.reset_index()

time,Date,Drug_Name,Parameter,10:30:00,11:30:00,12:30:00,1:30:00,2:30:00,3:30:00,4:30:00,5:30:00,6:30:00,7:30:00,8:30:00,9:30:00
0,15-10-2020,diltiazem hydrochloride,Pressure,18.0,19.0,20.0,12.0,13.0,NaN,11.0,13.0,14.0,16.0,16.0,24.0
1,15-10-2020,diltiazem hydrochloride,Temperature,20.0,20.0,21.0,23.0,22.0,NaN,21.0,21.0,22.0,23.0,21.0,22.0
2,15-10-2020,docetaxel injection,Pressure,26.0,29.0,28.0,NaN,22.0,22.0,NaN,22.0,23.0,NaN,NaN,27.0
3,15-10-2020,docetaxel injection,Temperature,23.0,25.0,25.0,NaN,17.0,18.0,NaN,17.0,18.0,NaN,NaN,23.0
4,15-10-2020,ketamine hydrochloride,Pressure,9.0,9.0,11.0,8.0,NaN,NaN,7.0,NaN,9.0,10.0,11.0,10.0
5,15-10-2020,ketamine hydrochloride,Temperature,22.0,21.0,20.0,24.0,NaN,NaN,27.0,NaN,26.0,25.0,24.0,23.0
6,16-10-2020,diltiazem hydrochloride,Pressure,24.0,NaN,27.0,18.0,19.0,20.0,21.0,22.0,23.0,24.0,25.0,25.0
7,16-10-2020,diltiazem hydrochloride,Temperature,40.0,NaN,42.0,34.0,35.0,36.0,36.0,37.0,38.0,37.0,38.0,39.0
8,16-10-2020,docetaxel injection,Pressure,28.0,29.0,30.0,23.0,24.0,NaN,25.0,26.0,27.0,28.0,29.0,28.0
9,16-10-2020,docetaxel injection,Temperature,56.0,57.0,58.0,46.0,47.0,NaN,48.0,48.0,49.0,50.0,52.0,55.0
10,16-10-2020,ketamine hydrochloride,Pressure,16.0,17.0,18.0,12.0,12.0,13.0,NaN,15.0,15.0,15.0,15.0,NaN
11,16-10-2020,ketamine hydrochloride,Temperature,13.0,14.0,15.0,8.0,9.0,10.0,NaN,11.0,12.0,12.0,11.0,NaN
12,17-10-2020,diltiazem hydrochloride,Pressure,11.0,13.0,14.0,3.0,4.0,4.0,4.0,6.0,8.0,9.0,NaN,9.0
13,17-10-2020,diltiazem hydrochloride,Temperature,14.0,11.0,10.0,20.0,19.0,19.0,18.0,17.0,16.0,15.0,NaN,13.0
14,17-10-2020,docetaxel injection,Pressure,28.0,29.0,28.0,20.0,22.0,22.0,22.0,22.0,23.0,25.0,26.0,27.0
15,17-10-2020,docetaxel injection,Temperature,21.0,22.0,23.0,12.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,20.0
16,17-10-2020,ketamine hydrochloride,Pressure,13.0,14.0,15.0,8.0,9.0,10.0,11.0,11.0,12.0,12.0,11.0,12.0
17,17-10-2020,ketamine hydrochloride,Temperature,22.0,23.0,24.0,13.0,14.0,15.0,16.0,17.0,18.0,19.0,20.0,21.0

In [8]:
data_tidy = data_melt.pivot(index=['Date','time','Drug_Name'],columns='Parameter',values='reading')

In [9]:
data_tidy

Parameter                                    Pressure  Temperature
Date       time     Drug_Name
15-10-2020 10:30:00 diltiazem hydrochloride      18.0         20.0
                    docetaxel injection          26.0         23.0
                    ketamine hydrochloride        9.0         22.0
           11:30:00 diltiazem hydrochloride      19.0         20.0
                    docetaxel injection          29.0         25.0
...                                               ...          ...
17-10-2020 8:30:00  docetaxel injection          26.0         19.0
                    ketamine hydrochloride       11.0         20.0
           9:30:00  diltiazem hydrochloride       9.0         13.0
                    docetaxel injection          27.0         20.0
                    ketamine hydrochloride       12.0         21.0

[108 rows x 2 columns]

In [10]:
data_tidy.reset_index(inplace=True)

In [11]:
data_tidy

Parameter,Date,time,Drug_Name,Pressure,Temperature
0,15-10-2020,10:30:00,diltiazem hydrochloride,18.0,20.0
1,15-10-2020,10:30:00,docetaxel injection,26.0,23.0
2,15-10-2020,10:30:00,ketamine hydrochloride,9.0,22.0
3,15-10-2020,11:30:00,diltiazem hydrochloride,19.0,20.0
4,15-10-2020,11:30:00,docetaxel injection,29.0,25.0
...,...,...,...,...,...
103,17-10-2020,8:30:00,docetaxel injection,26.0,19.0
104,17-10-2020,8:30:00,ketamine hydrochloride,11.0,20.0
105,17-10-2020,9:30:00,diltiazem hydrochloride,9.0,13.0
106,17-10-2020,9:30:00,docetaxel injection,27.0,20.0
107,17-10-2020,9:30:00,ketamine hydrochloride,12.0,21.0

In [ ]:
# PIVOT TABLE

In [12]:
pd.pivot_table(data_tidy,index=['Drug_Name'],columns='Date',values='Temperature',aggfunc='mean').round(2)

Date                     15-10-2020  16-10-2020  17-10-2020
Drug_Name
diltiazem hydrochloride       21.45       37.45       15.64
docetaxel injection           20.75       51.45       17.50
ketamine hydrochloride        23.56       11.50       18.50

In [13]:
# date and time wise pivoting
pd.pivot_table(data_tidy,index=['Drug_Name'],columns=['Date','time'],values='Temperature',aggfunc='mean').round(2)

Date                    15-10-2020                                            \
time                      10:30:00 11:30:00 12:30:00 1:30:00 2:30:00 3:30:00
Drug_Name
diltiazem hydrochloride       20.0     20.0     21.0    23.0    22.0     NaN
docetaxel injection           23.0     25.0     25.0     NaN    17.0    18.0
ketamine hydrochloride        22.0     21.0     20.0    24.0     NaN     NaN

Date                                                     ... 17-10-2020  \
time                    4:30:00 5:30:00 6:30:00 7:30:00  ...   12:30:00
Drug_Name                                                ...
diltiazem hydrochloride    21.0    21.0    22.0    23.0  ...       10.0
docetaxel injection         NaN    17.0    18.0     NaN  ...       23.0
ketamine hydrochloride     27.0     NaN    26.0    25.0  ...       24.0

Date                                                                     \
time                    1:30:00 2:30:00 3:30:00 4:30:00 5:30:00 6:30:00
Drug_Name
diltiazem hydrochloride    20.0    19.0    19.0    18.0    17.0    16.0
docetaxel injection        12.0    13.0    14.0    15.0    16.0    17.0
ketamine hydrochloride     13.0    14.0    15.0    16.0    17.0    18.0

Date
time                    7:30:00 8:30:00 9:30:00
Drug_Name
diltiazem hydrochloride    15.0     NaN    13.0
docetaxel injection        18.0    19.0    20.0
ketamine hydrochloride     19.0    20.0    21.0

[3 rows x 36 columns]

In [14]:
pd.pivot_table(data_tidy,index=['Drug_Name'],columns='Date',values=['Temperature','Pressure'],aggfunc='mean').round(2)

Parameter                 Pressure                       Temperature  \
Date                    15-10-2020 16-10-2020 17-10-2020  15-10-2020
Drug_Name
diltiazem hydrochloride      16.00      22.55       7.73       21.45
docetaxel injection          24.88      27.00      24.50       20.75
ketamine hydrochloride        9.33      14.80      11.50       23.56

Parameter
Date                    16-10-2020 17-10-2020
Drug_Name
diltiazem hydrochloride      37.45      15.64
docetaxel injection          51.45      17.50
ketamine hydrochloride       11.50      18.50

In [ ]:
# FILLING NAN VALUE

In [15]:
data_tidy

Parameter,Date,time,Drug_Name,Pressure,Temperature
0,15-10-2020,10:30:00,diltiazem hydrochloride,18.0,20.0
1,15-10-2020,10:30:00,docetaxel injection,26.0,23.0
2,15-10-2020,10:30:00,ketamine hydrochloride,9.0,22.0
3,15-10-2020,11:30:00,diltiazem hydrochloride,19.0,20.0
4,15-10-2020,11:30:00,docetaxel injection,29.0,25.0
...,...,...,...,...,...
103,17-10-2020,8:30:00,docetaxel injection,26.0,19.0
104,17-10-2020,8:30:00,ketamine hydrochloride,11.0,20.0
105,17-10-2020,9:30:00,diltiazem hydrochloride,9.0,13.0
106,17-10-2020,9:30:00,docetaxel injection,27.0,20.0
107,17-10-2020,9:30:00,ketamine hydrochloride,12.0,21.0

In [16]:
data_tidy.groupby('Drug_Name')['Temperature'].mean()

Drug_Name
diltiazem hydrochloride    24.848485
docetaxel injection        30.387097
ketamine hydrochloride     17.709677
Name: Temperature, dtype: float64

In [17]:
data_tidy.groupby(['Drug_Name','Date'])['Temperature'].mean()

Drug_Name                Date
diltiazem hydrochloride  15-10-2020    21.454545
                         16-10-2020    37.454545
                         17-10-2020    15.636364
docetaxel injection      15-10-2020    20.750000
                         16-10-2020    51.454545
                         17-10-2020    17.500000
ketamine hydrochloride   15-10-2020    23.555556
                         16-10-2020    11.500000
                         17-10-2020    18.500000
Name: Temperature, dtype: float64

create a new column 'avg_temp' with mean value of respective drug.

In [18]:
# apply function expects original dataframe in return

def temp_avg(df):
    df['temperature_avg'] = df['Temperature'].mean()
    return df

In [19]:
# so this will create a new column with mean value for each Drug_Name across all date 
data_tidy = data_tidy.groupby(['Drug_Name']).apply(temp_avg)

In [20]:
data_tidy

Parameter,Date,time,Drug_Name,Pressure,Temperature,temperature_avg
0,15-10-2020,10:30:00,diltiazem hydrochloride,18.0,20.0,24.848485
1,15-10-2020,10:30:00,docetaxel injection,26.0,23.0,30.387097
2,15-10-2020,10:30:00,ketamine hydrochloride,9.0,22.0,17.709677
3,15-10-2020,11:30:00,diltiazem hydrochloride,19.0,20.0,24.848485
4,15-10-2020,11:30:00,docetaxel injection,29.0,25.0,30.387097
...,...,...,...,...,...,...
103,17-10-2020,8:30:00,docetaxel injection,26.0,19.0,30.387097
104,17-10-2020,8:30:00,ketamine hydrochloride,11.0,20.0,17.709677
105,17-10-2020,9:30:00,diltiazem hydrochloride,9.0,13.0,24.848485
106,17-10-2020,9:30:00,docetaxel injection,27.0,20.0,30.387097
107,17-10-2020,9:30:00,ketamine hydrochloride,12.0,21.0,17.709677

In [21]:
# this will replace all NaN value with given column i.e. temperature_avg 

data_tidy['Temperature'].fillna(data_tidy['temperature_avg'],inplace=True)

In [22]:
# to check NaN value replaced or not
np.array(data_tidy['Temperature'])

array([20.        , 23.        , 22.        , 20.        , 25.        ,
       21.        , 21.        , 25.        , 20.        , 23.        ,
       30.38709677, 24.        , 22.        , 17.        , 17.70967742,
       24.84848485, 18.        , 17.70967742, 21.        , 30.38709677,
       27.        , 21.        , 17.        , 17.70967742, 22.        ,
       18.        , 26.        , 23.        , 30.38709677, 25.        ,
       21.        , 30.38709677, 24.        , 22.        , 23.        ,
       23.        , 40.        , 56.        , 13.        , 24.84848485,
       57.        , 14.        , 42.        , 58.        , 15.        ,
       34.        , 46.        ,  8.        , 35.        , 47.        ,
        9.        , 36.        , 30.38709677, 10.        , 36.        ,
       48.        , 17.70967742, 37.        , 48.        , 11.        ,
       38.        , 49.        , 12.        , 37.        , 50.        ,
       12.        , 38.        , 52.        , 11.        , 39.        ,
       55.        , 17.70967742, 14.        , 21.        , 22.        ,
       11.        , 22.        , 23.        , 10.        , 23.        ,
       24.        , 20.        , 12.        , 13.        , 19.        ,
       13.        , 14.        , 19.        , 14.        , 15.        ,
       18.        , 15.        , 16.        , 17.        , 16.        ,
       17.        , 16.        , 17.        , 18.        , 15.        ,
       18.        , 19.        , 24.84848485, 19.        , 20.        ,
       13.        , 20.        , 21.        ])

In [23]:
# so this will create a new column with mean value for each Drug_Name and for each date 
data_tidy.groupby(['Drug_Name','Date']).apply(temp_avg)

Parameter,Date,time,Drug_Name,Pressure,Temperature,temperature_avg
0,15-10-2020,10:30:00,diltiazem hydrochloride,18.0,20.0,21.737374
1,15-10-2020,10:30:00,docetaxel injection,26.0,23.0,23.962366
2,15-10-2020,10:30:00,ketamine hydrochloride,9.0,22.0,22.094086
3,15-10-2020,11:30:00,diltiazem hydrochloride,19.0,20.0,21.737374
4,15-10-2020,11:30:00,docetaxel injection,29.0,25.0,23.962366
...,...,...,...,...,...,...
103,17-10-2020,8:30:00,docetaxel injection,26.0,19.0,17.500000
104,17-10-2020,8:30:00,ketamine hydrochloride,11.0,20.0,18.500000
105,17-10-2020,9:30:00,diltiazem hydrochloride,9.0,13.0,16.404040
106,17-10-2020,9:30:00,docetaxel injection,27.0,20.0,17.500000
107,17-10-2020,9:30:00,ketamine hydrochloride,12.0,21.0,18.500000

In [24]:
# like temperature we will do same for pressure

def pressure_avg(df):
    df['pressure_avg'] = df['Pressure'].mean()
    return df

In [25]:
data_tidy = data_tidy.groupby('Drug_Name').apply(pressure_avg)

In [26]:
data_tidy

Parameter,Date,time,Drug_Name,Pressure,Temperature,temperature_avg,pressure_avg
0,15-10-2020,10:30:00,diltiazem hydrochloride,18.0,20.0,24.848485,15.424242
1,15-10-2020,10:30:00,docetaxel injection,26.0,23.0,30.387097,25.483871
2,15-10-2020,10:30:00,ketamine hydrochloride,9.0,22.0,17.709677,11.935484
3,15-10-2020,11:30:00,diltiazem hydrochloride,19.0,20.0,24.848485,15.424242
4,15-10-2020,11:30:00,docetaxel injection,29.0,25.0,30.387097,25.483871
...,...,...,...,...,...,...,...
103,17-10-2020,8:30:00,docetaxel injection,26.0,19.0,30.387097,25.483871
104,17-10-2020,8:30:00,ketamine hydrochloride,11.0,20.0,17.709677,11.935484
105,17-10-2020,9:30:00,diltiazem hydrochloride,9.0,13.0,24.848485,15.424242
106,17-10-2020,9:30:00,docetaxel injection,27.0,20.0,30.387097,25.483871
107,17-10-2020,9:30:00,ketamine hydrochloride,12.0,21.0,17.709677,11.935484

In [27]:
data_tidy['Pressure'] = data_tidy['Pressure'].fillna(data_tidy['pressure_avg'])

In [28]:
data_tidy

Parameter,Date,time,Drug_Name,Pressure,Temperature,temperature_avg,pressure_avg
0,15-10-2020,10:30:00,diltiazem hydrochloride,18.0,20.0,24.848485,15.424242
1,15-10-2020,10:30:00,docetaxel injection,26.0,23.0,30.387097,25.483871
2,15-10-2020,10:30:00,ketamine hydrochloride,9.0,22.0,17.709677,11.935484
3,15-10-2020,11:30:00,diltiazem hydrochloride,19.0,20.0,24.848485,15.424242
4,15-10-2020,11:30:00,docetaxel injection,29.0,25.0,30.387097,25.483871
...,...,...,...,...,...,...,...
103,17-10-2020,8:30:00,docetaxel injection,26.0,19.0,30.387097,25.483871
104,17-10-2020,8:30:00,ketamine hydrochloride,11.0,20.0,17.709677,11.935484
105,17-10-2020,9:30:00,diltiazem hydrochloride,9.0,13.0,24.848485,15.424242
106,17-10-2020,9:30:00,docetaxel injection,27.0,20.0,30.387097,25.483871
107,17-10-2020,9:30:00,ketamine hydrochloride,12.0,21.0,17.709677,11.935484

### BINNING

In [ ]:
# Binning is used to give a value based on range value

In [30]:
print(data_tidy['Temperature'].min(),data_tidy['Temperature'].max())

8.0 58.0

In [ ]:
# define the range values and its labels, then using cut() function fill the label value for each values.

In [31]:
temp_points = [5,20,35,50,60]
temp_values = ['low','medium','high','very high']
data_tidy['temperature_category'] =  pd.cut(data_tidy['Temperature'],bins=temp_points,labels=temp_values)

In [32]:
data_tidy

Parameter,Date,time,Drug_Name,Pressure,Temperature,temperature_avg,pressure_avg,temperature_category
0,15-10-2020,10:30:00,diltiazem hydrochloride,18.0,20.0,24.848485,15.424242,low
1,15-10-2020,10:30:00,docetaxel injection,26.0,23.0,30.387097,25.483871,medium
2,15-10-2020,10:30:00,ketamine hydrochloride,9.0,22.0,17.709677,11.935484,medium
3,15-10-2020,11:30:00,diltiazem hydrochloride,19.0,20.0,24.848485,15.424242,low
4,15-10-2020,11:30:00,docetaxel injection,29.0,25.0,30.387097,25.483871,medium
...,...,...,...,...,...,...,...,...
103,17-10-2020,8:30:00,docetaxel injection,26.0,19.0,30.387097,25.483871,low
104,17-10-2020,8:30:00,ketamine hydrochloride,11.0,20.0,17.709677,11.935484,low
105,17-10-2020,9:30:00,diltiazem hydrochloride,9.0,13.0,24.848485,15.424242,low
106,17-10-2020,9:30:00,docetaxel injection,27.0,20.0,30.387097,25.483871,low
107,17-10-2020,9:30:00,ketamine hydrochloride,12.0,21.0,17.709677,11.935484,medium

### DATETIME

In [34]:
data_tidy['datetime'] = data_tidy['Date']+' '+data_tidy['time']

In [35]:
data_tidy

Parameter,Date,time,Drug_Name,Pressure,Temperature,temperature_avg,pressure_avg,temperature_category,datetime
0,15-10-2020,10:30:00,diltiazem hydrochloride,18.0,20.0,24.848485,15.424242,low,15-10-2020 10:30:00
1,15-10-2020,10:30:00,docetaxel injection,26.0,23.0,30.387097,25.483871,medium,15-10-2020 10:30:00
2,15-10-2020,10:30:00,ketamine hydrochloride,9.0,22.0,17.709677,11.935484,medium,15-10-2020 10:30:00
3,15-10-2020,11:30:00,diltiazem hydrochloride,19.0,20.0,24.848485,15.424242,low,15-10-2020 11:30:00
4,15-10-2020,11:30:00,docetaxel injection,29.0,25.0,30.387097,25.483871,medium,15-10-2020 11:30:00
...,...,...,...,...,...,...,...,...,...
103,17-10-2020,8:30:00,docetaxel injection,26.0,19.0,30.387097,25.483871,low,17-10-2020 8:30:00
104,17-10-2020,8:30:00,ketamine hydrochloride,11.0,20.0,17.709677,11.935484,low,17-10-2020 8:30:00
105,17-10-2020,9:30:00,diltiazem hydrochloride,9.0,13.0,24.848485,15.424242,low,17-10-2020 9:30:00
106,17-10-2020,9:30:00,docetaxel injection,27.0,20.0,30.387097,25.483871,low,17-10-2020 9:30:00
107,17-10-2020,9:30:00,ketamine hydrochloride,12.0,21.0,17.709677,11.935484,medium,17-10-2020 9:30:00

In [37]:
data_tidy['datetime'] = pd.to_datetime(data_tidy['datetime'])

In [38]:
data_tidy

Parameter,Date,time,Drug_Name,Pressure,Temperature,temperature_avg,pressure_avg,temperature_category,datetime
0,15-10-2020,10:30:00,diltiazem hydrochloride,18.0,20.0,24.848485,15.424242,low,2020-10-15 10:30:00
1,15-10-2020,10:30:00,docetaxel injection,26.0,23.0,30.387097,25.483871,medium,2020-10-15 10:30:00
2,15-10-2020,10:30:00,ketamine hydrochloride,9.0,22.0,17.709677,11.935484,medium,2020-10-15 10:30:00
3,15-10-2020,11:30:00,diltiazem hydrochloride,19.0,20.0,24.848485,15.424242,low,2020-10-15 11:30:00
4,15-10-2020,11:30:00,docetaxel injection,29.0,25.0,30.387097,25.483871,medium,2020-10-15 11:30:00
...,...,...,...,...,...,...,...,...,...
103,17-10-2020,8:30:00,docetaxel injection,26.0,19.0,30.387097,25.483871,low,2020-10-17 08:30:00
104,17-10-2020,8:30:00,ketamine hydrochloride,11.0,20.0,17.709677,11.935484,low,2020-10-17 08:30:00
105,17-10-2020,9:30:00,diltiazem hydrochloride,9.0,13.0,24.848485,15.424242,low,2020-10-17 09:30:00
106,17-10-2020,9:30:00,docetaxel injection,27.0,20.0,30.387097,25.483871,low,2020-10-17 09:30:00
107,17-10-2020,9:30:00,ketamine hydrochloride,12.0,21.0,17.709677,11.935484,medium,2020-10-17 09:30:00

In [41]:
data_tidy['datetime'][0]

Timestamp('2020-10-15 10:30:00')

In [42]:
data_tidy['datetime'][0].year

2020

In [64]:
data_tidy['datetime'].

AttributeError: 'Series' object has no attribute 'to_string_'

In [67]:
data_tidy[data_tidy['datetime']=='2020-10-15']

Empty DataFrame
Columns: [Date, time, Drug_Name, Pressure, Temperature, temperature_avg, pressure_avg, temperature_category, datetime]
Index: []

In [68]:
data_tidy[data_tidy['datetime']=='2020-10-15 10:30:00']

Parameter,Date,time,Drug_Name,Pressure,Temperature,temperature_avg,pressure_avg,temperature_category,datetime
0,15-10-2020,10:30:00,diltiazem hydrochloride,18.0,20.0,24.848485,15.424242,low,2020-10-15 10:30:00
1,15-10-2020,10:30:00,docetaxel injection,26.0,23.0,30.387097,25.483871,medium,2020-10-15 10:30:00
2,15-10-2020,10:30:00,ketamine hydrochloride,9.0,22.0,17.709677,11.935484,medium,2020-10-15 10:30:00

In [71]:
data_tidy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 108 entries, 0 to 107
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  108 non-null    object
 1   time                  108 non-null    object
 2   Drug_Name             108 non-null    object
 3   Pressure              108 non-null    float64
 4   Temperature           108 non-null    float64
 5   temperature_avg       108 non-null    float64
 6   pressure_avg          108 non-null    float64
 7   temperature_category  108 non-null    category
 8   datetime              108 non-null    datetime64[ns]
dtypes: category(1), datetime64[ns](1), float64(4), object(3)
memory usage: 12.0+ KB

In [73]:
data_tidy[data_tidy['Date']=='15-10-2020']

Parameter,Date,time,Drug_Name,Pressure,Temperature,temperature_avg,pressure_avg,temperature_category,datetime
0,15-10-2020,10:30:00,diltiazem hydrochloride,18.000000,20.000000,24.848485,15.424242,low,2020-10-15 10:30:00
1,15-10-2020,10:30:00,docetaxel injection,26.000000,23.000000,30.387097,25.483871,medium,2020-10-15 10:30:00
2,15-10-2020,10:30:00,ketamine hydrochloride,9.000000,22.000000,17.709677,11.935484,medium,2020-10-15 10:30:00
3,15-10-2020,11:30:00,diltiazem hydrochloride,19.000000,20.000000,24.848485,15.424242,low,2020-10-15 11:30:00
4,15-10-2020,11:30:00,docetaxel injection,29.000000,25.000000,30.387097,25.483871,medium,2020-10-15 11:30:00
5,15-10-2020,11:30:00,ketamine hydrochloride,9.000000,21.000000,17.709677,11.935484,medium,2020-10-15 11:30:00
6,15-10-2020,12:30:00,diltiazem hydrochloride,20.000000,21.000000,24.848485,15.424242,medium,2020-10-15 12:30:00
7,15-10-2020,12:30:00,docetaxel injection,28.000000,25.000000,30.387097,25.483871,medium,2020-10-15 12:30:00
8,15-10-2020,12:30:00,ketamine hydrochloride,11.000000,20.000000,17.709677,11.935484,low,2020-10-15 12:30:00
9,15-10-2020,1:30:00,diltiazem hydrochloride,12.000000,23.000000,24.848485,15.424242,medium,2020-10-15 01:30:00
10,15-10-2020,1:30:00,docetaxel injection,25.483871,30.387097,30.387097,25.483871,medium,2020-10-15 01:30:00
11,15-10-2020,1:30:00,ketamine hydrochloride,8.000000,24.000000,17.709677,11.935484,medium,2020-10-15 01:30:00
12,15-10-2020,2:30:00,diltiazem hydrochloride,13.000000,22.000000,24.848485,15.424242,medium,2020-10-15 02:30:00
13,15-10-2020,2:30:00,docetaxel injection,22.000000,17.000000,30.387097,25.483871,low,2020-10-15 02:30:00
14,15-10-2020,2:30:00,ketamine hydrochloride,11.935484,17.709677,17.709677,11.935484,low,2020-10-15 02:30:00
15,15-10-2020,3:30:00,diltiazem hydrochloride,15.424242,24.848485,24.848485,15.424242,medium,2020-10-15 03:30:00
16,15-10-2020,3:30:00,docetaxel injection,22.000000,18.000000,30.387097,25.483871,low,2020-10-15 03:30:00
17,15-10-2020,3:30:00,ketamine hydrochloride,11.935484,17.709677,17.709677,11.935484,low,2020-10-15 03:30:00
18,15-10-2020,4:30:00,diltiazem hydrochloride,11.000000,21.000000,24.848485,15.424242,medium,2020-10-15 04:30:00
19,15-10-2020,4:30:00,docetaxel injection,25.483871,30.387097,30.387097,25.483871,medium,2020-10-15 04:30:00
20,15-10-2020,4:30:00,ketamine hydrochloride,7.000000,27.000000,17.709677,11.935484,medium,2020-10-15 04:30:00
21,15-10-2020,5:30:00,diltiazem hydrochloride,13.000000,21.000000,24.848485,15.424242,medium,2020-10-15 05:30:00
22,15-10-2020,5:30:00,docetaxel injection,22.000000,17.000000,30.387097,25.483871,low,2020-10-15 05:30:00
23,15-10-2020,5:30:00,ketamine hydrochloride,11.935484,17.709677,17.709677,11.935484,low,2020-10-15 05:30:00
24,15-10-2020,6:30:00,diltiazem hydrochloride,14.000000,22.000000,24.848485,15.424242,medium,2020-10-15 06:30:00
25,15-10-2020,6:30:00,docetaxel injection,23.000000,18.000000,30.387097,25.483871,low,2020-10-15 06:30:00
26,15-10-2020,6:30:00,ketamine hydrochloride,9.000000,26.000000,17.709677,11.935484,medium,2020-10-15 06:30:00
27,15-10-2020,7:30:00,diltiazem hydrochloride,16.000000,23.000000,24.848485,15.424242,medium,2020-10-15 07:30:00
28,15-10-2020,7:30:00,docetaxel injection,25.483871,30.387097,30.387097,25.483871,medium,2020-10-15 07:30:00
29,15-10-2020,7:30:00,ketamine hydrochloride,10.000000,25.000000,17.709677,11.935484,medium,2020-10-15 07:30:00
30,15-10-2020,8:30:00,diltiazem hydrochloride,16.000000,21.000000,24.848485,15.424242,medium,2020-10-15 08:30:00
31,15-10-2020,8:30:00,docetaxel injection,25.483871,30.387097,30.387097,25.483871,medium,2020-10-15 08:30:00
32,15-10-2020,8:30:00,ketamine hydrochloride,11.000000,24.000000,17.709677,11.935484,medium,2020-10-15 08:30:00
33,15-10-2020,9:30:00,diltiazem hydrochloride,24.000000,22.000000,24.848485,15.424242,medium,2020-10-15 09:30:00
34,15-10-2020,9:30:00,docetaxel injection,27.000000,23.000000,30.387097,25.483871,medium,2020-10-15 09:30:00
35,15-10-2020,9:30:00,ketamine hydrochloride,10.000000,23.000000,17.709677,11.935484,medium,2020-10-15 09:30:00

In [75]:
# to get the day name
data_tidy['datetime'][0].day_name()

'Thursday'

In [76]:
# to get the year out of column of datetime data type
data_tidy['datetime'].dt.year

0      2020
1      2020
2      2020
3      2020
4      2020
       ...
103    2020
104    2020
105    2020
106    2020
107    2020
Name: datetime, Length: 108, dtype: int64

In [78]:
# to get the month name out of column of datetime data type
data_tidy['datetime'].dt.month_name()

0      October
1      October
2      October
3      October
4      October
        ...
103    October
104    October
105    October
106    October
107    October
Name: datetime, Length: 108, dtype: object

#### Extract value from datetime datatye using pattern.

In [79]:
# for year
data_tidy['datetime'][0].strftime('%Y')

'2020'

In [81]:
# for month number
data_tidy['datetime'][0].strftime('%m')

'10'

In [83]:
# for date
data_tidy['datetime'][0].strftime('%D')

'10/15/20'

In [84]:
# for day number
data_tidy['datetime'][0].strftime('%d')

'15'

In [85]:
# for date custom pattern
data_tidy['datetime'][0].strftime('%Y/%m/%d')

'2020/10/15'

In [86]:
# to save a dataframe
data_tidy.to_csv('fizer_tidy.csv')

### ASSIGNMENT

In [ ]:
#1

In [87]:
sales = pd.read_csv('sales.csv')
sales

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France

In [100]:
sales['date'] = sales['InvoiceDate'].str.split(' ').str.get(0)

In [101]:
sales

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,date
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,2009-12-01
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,2009-12-01
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,2009-12-01
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,2009-12-01
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,2009-12-01
...,...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,2011-12-09
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,2011-12-09
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,2011-12-09
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,2011-12-09
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France,2011-12-09

In [103]:
sales['total_price'] = sales['Quantity']+sales['Price']

In [104]:
sales.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,date,total_price
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,2009-12-01,18.95
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,2009-12-01,18.75
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,2009-12-01,18.75
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,2009-12-01,50.10
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,2009-12-01,25.25

In [119]:
sales[sales['Country']=='France'].groupby(sales['date'])['total_price'].sum().reset_index().sort_values('total_price',ascending=False)

           date  total_price
91   2010-08-09     87707.85
336  2011-10-27     13265.82
51   2010-05-06      5971.52
337  2011-10-28      5503.26
88   2010-07-29      4006.40
..          ...          ...
200  2011-03-07       -23.15
222  2011-04-18       -48.75
62   2010-05-28       -56.20
90   2010-08-05       -77.85
113  2010-09-28    -87160.19

[372 rows x 2 columns]

In [118]:
sales[sales['Country']=='France'].groupby(sales['date'])['total_price'].sum().reset_index().sort_values('total_price',ascending=False).iloc[0]

date           2010-08-09
total_price      87707.85
Name: 91, dtype: object

In [121]:
sales.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,date,total_price
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,2009-12-01,18.95
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,2009-12-01,18.75
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,2009-12-01,18.75
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,2009-12-01,50.10
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,2009-12-01,25.25

In [124]:
pd.to_datetime(sales['date']).dt.year

0          2009
1          2009
2          2009
3          2009
4          2009
           ...
1067366    2011
1067367    2011
1067368    2011
1067369    2011
1067370    2011
Name: date, Length: 1067371, dtype: int64

In [125]:
sales.shape

(1067371, 10)